**Problem 1: Unique Words in a Sentence**

In [53]:
#inputData="python is easy and python is powerful"
# Step 1: Take input from user
sentence = input("Enter sentence:")
# Step 2: Split sentence into words
words = sentence.split()
# Step 3: Convert to set to get unique words
unique_words = set(words)
# Step 4: Count unique words
unique_count = len(unique_words)

print("Unique words count:",unique_count)
print("Unique words:",unique_words)

Enter sentence:python is easy and python is powerful
Unique words count: 5
Unique words: {'easy', 'python', 'powerful', 'and', 'is'}

**Problem 2: Highest Salary from Employee Data**

**Problem 3: Find Maximum and Minimum Values**

In [54]:
numbers = [45, 22, 89, 10, 66]
# Initialize max_val and min_val with the first element of the list
max_val = numbers[0]
min_val = numbers[0]
# Iterate through the list to find the maximum and minimum values
for num in numbers:
    if num > max_val:
        max_val = num
    elif num < min_val:
        min_val = num
# Print the maximum and minimum values found
print("Max: ",max_val)
print("Min: ",min_val)

Max:  89
Min:  10

**Problem 4: Count Products Above a Price Threshold**

Problem Statement
Count how many products have a price greater than 1000.

In [55]:
prices = [450, 1200, 899, 1500, 300]
count = 0 # Initialize counter
for i in prices:
    if i > 1000:
        count += 1 # Increment if price is above threshold
print("Products above 1000:", count)

Products above 1000: 2

**Problem 5: Calculate Attendance Percentage**

Problem Statement

Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).

In [56]:
attendance = ["P", "P", "A", "P", "P"]
present_count = 0 # Initialize present count

for status in attendance:
  if status == "P":
    present_count += 1 # Increment if present

total_days = len(attendance)
# Calculate percentage, avoid division by zero
attendance_percentage = (present_count / total_days) * 100 if total_days > 0 else 0

print(f"Attendance Percentage: {attendance_percentage:.1f}%")

Attendance Percentage: 80.0%

**Problem 6: Remove Duplicate Phone Numbers**

Problem Statement

You are given a list of phone numbers that may contain duplicates. Write a Python program to remove duplicate phone numbers and display only the unique phone numbers.

In [57]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_phone_numbers=set(phone_numbers)
print("Unique phone numbers: ",unique_phone_numbers)

Unique phone numbers:  {9876543210, 9123456789}

**Problem 7: Count Character Frequency**

Problem Statement

Count how many times each character appears in a given string.

In [58]:
text="hello python"
freq={}
# Iterate through each character in the text
for char in text:
  # If the character is already in the frequency dictionary, increment its count
  if char in freq:
    freq[char]+=1
  # Otherwise, add the character to the dictionary with a count of 1
  else:
    freq[char]=1
print(freq)

{'h': 2, 'e': 1, 'l': 2, 'o': 2, ' ': 1, 'p': 1, 'y': 1, 't': 1, 'n': 1}

**Problem 8: Convert List to Tuple**

Problem Statement

Convert a list into a tuple and display it.

In [59]:
num_list=[10,20,30]
num_tuple=tuple(num_list)
print("Tuple:",num_tuple)

Tuple: (10, 20, 30)

**Problem 9: Check if a Key Exists in a Dictionary**

Problem Statement

Check whether a specific key exists in a dictionary.

In [60]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
key=input("Enter key: ")

if key in employees:
  print("Employee exists")
else:
  print("Employee not exists")

Enter key: KIRAN
Employee not exists

**Problem 10: Calculate Average Marks**

Problem Statement

Calculate the average marks of a student from a list of marks.

In [61]:
marks = [70,77,69,89,75, 80, 65]
marks_sum=0
for i in marks:
  marks_sum+=i
avg_Marks=marks_sum/len(marks)
print("Average Marks: ",avg_Marks)

Average Marks:  75.0